mat-expansion-panel {
  margin-bottom: 10px;
}

img {
  margin-top: 1px;
  border: 1px azure solid;
  border-radius: 50%;
}

p.employee-name {
  margin-top: 25px;
  margin-left: 15px;
}

a {
  text-decoration: none;
}
