<mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
    <img src="../../../assets/demo.jpg" width="70">
    {{employee.firstName}} {{employee.lastName}}
  </mat-expansion-panel-header>

  <p>
    E-Mail: <a href="mailto:{{employee.mail}}">{{employee.mail}}</a><br/>
    Mobile Phone: <a href="tel:{{employee.mobilePhoneNumber}}">{{employee.mobilePhoneNumber}}</a><br/>
    Business Phone: <a href="tel:{{employee.businessPhoneNumber}}">{{employee.businessPhoneNumber}}</a><br/>
  </p>
</mat-expansion-panel>
