<mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="'74px'" [expandedHeight]="'74px'">
    <img matListAvatar [width]="70" [height]="70"
         defaultImage="../../../assets/demo.jpg" lazyLoad="/api/{{employee.code}}/picture"
         alt="{{employee.firstName}} {{employee.lastName}}">
    <p class="employee-name">{{employee.firstName}} {{employee.lastName}}</p>
  </mat-expansion-panel-header>

  <ul>
    <li>E-Mail: <a href="mailto:{{employee.mail}}">{{employee.mail}}</a></li>
    <li>Mobile: <a href="tel:{{employee.mobilePhoneNumber}}">{{employee.mobilePhoneNumber}}</a></li>
    <li>Business: <a href="tel:{{employee.businessPhoneNumber}}">{{employee.businessPhoneNumber}}</a></li>
  </ul>
</mat-expansion-panel>
